/*---------------------
	Header section
-----------------------*/
.header-section {
    padding: 50px 40px;
    background: #f2f7f8;
}

.site-logo h2 {
    font-size: 36px;
}

.site-logo h2 a {
    color: #40424a;
}

.site-logo p {
    font-size: 14px;
    line-height: normal;
}

.header-buttons a {
    margin-top: 15px;
}

@media only screen and (max-width: 1024px) {
    .site-logo h2 {
        font-size: 30px;
    }
    .hero-text h2 {
        font-size: 105px;
    }
}